[Desktop Entry]
Name=eRadio
Comment=Internet Radio Browser and Player
Exec=eradio
Icon=io.github.tedlaz.eradio
Terminal=false
Type=Application
Categories=Audio;Music;Player;
Keywords=radio;streaming;music;internet radio;
